.amusement-container{
    margin-bottom: 200px;
    margin-top:50px;
    
}
body{
    background: #005b96;
    animation: mymove 10s infinite;
    width:100%;
}
@keyframes mymove {
    from {background-color: #005b96;}
    50% {background-color: #b3cde0;}
    to {background-color: #005b96;}
  }
p{
    margin:20px;
}

.footer-container-amusement{
    background-color: #14333b;
    padding-top: 0;
    /* top:100%; */
    margin-bottom: 0px;
    position:absolute;
    width:100%;
}

 .card-container{
    cursor:pointer;
    margin-top:50px;
    margin-left:120px;
    height: 200px;
    perspective: 600;
    position: relative;
    width: 80%;
} 

.card{
    
    height: 100%;
    margin: 10px;
    position: relative;
    float:left;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
     width: 23%; 
}
.card:hover {
    transform: rotateY(180deg);
}
.card .side {
    background: #eaeaed;
    backface-visibility: hidden;
    border-radius: 6px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}
.card .back {
    background: #eaeaed;
    color: #0087cc;
    line-height: 150px;
    text-align: center;
    transform: rotateY(180deg); 
  }
 
.audio-two{
    margin:20px;

}
 
#reminder{
    width:80%;
    margin:auto;
    height: 50px;
    padding: 10px;
    background-color: rgb(204, 180, 129);
    opacity:0.5;
    
}

#reminder button{
    background-color:orange;
}
