body{
    background-color: white;
    /* background: center / contain no-repeat url("girl.jpg"),
    #eee 35% url("/background/images.jpg"); */
   
    
}

div.blog-div{
    width:30%;
    float:left;
    margin:20px;
    text-shadow: 2px 2px 5px black;
    text-align: justify;
    color:black;
    

}
table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 40px;
    margin-bottom: 20px;
    border-spacing: 30px;
    border: 1px solid #1c373f;
    color:black;
    
}
td, th {
    border: 2px solid #dddddd;
    text-align: left;
    margin: 10px;
    padding: 10px;
    border: 1px solid #1c373f ;
}
tr:nth-child(even) {
    background-color: #c8d8e4;
}
tr:nth-child(odd){
    background-color:#f2f2f2;
}
tr a{
    text-align:left;
    color:rgb(58, 58, 49);
    text-decoration:none;
    font-family: 'Nunito Sans', sans-serif;
}
tr a:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
    transition: 0.3s ease-out;
}
tr:hover {
    background-color: #0c2b33; 
    color:white;

}


.blog-table{
    
    width: 95%;
    /* margin:10px; */
}

.mapouter{
    position:relative;
    margin: 30px;
    text-align:right;
    height:500px;
    width:95%;}
        
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    text-align: right;
    height:400px;
    width:90%;}

    .mapouter h3{
        text-align: center;
    }
     /* .wrapper{
        margin: 0 auto;
        width:1000px;

    } */
    video{
        width:75%;
        margin-top: 100px;
        margin-left: 150px;
        margin-right: 40px;
    
    }

   