.footer-container{
    background-color: #14333b;
    padding-top:0;
    top:100%;
    

    
    
}
.footer{
    margin:auto;
     /* position:sticky; */
    width:80%;
    display: flex;
    flex-wrap: wrap;
    


    

}
.footer-heading a:hover {
    color: #0c2b33;
    text-decoration: underline;
    transition: 0.3s ease-out;
}
.footer-container a:active {
    color: black;
}
.footer-heading a {
    text-decoration: none;
    color: white;
    margin-bottom:0.5rem;
      
}
.footer-heading {
    display: flex;
    flex-direction: column;
    width: 25%;
}
.footer-heading h4{
    margin-bottom:1rem;
    text-transform: uppercase;
    color:white;
}
.fa:hover {
    opacity: 1.0;
  }
#footer-email {
    width: 230px;
    height: 30px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size:1rem;
    margin-bottom: 0.2rem;
}
.footer-email-form h4{
text-transform: uppercase;
}
#footer-email-btn {
    width: 60px;
    height: 20px;
    border-radius: 4px;
    background-color:#c8d8e4;
    outline: none;
    border: none;
    color:black;
    font-size: 0.8rem;
}
#footer-email-btn:hover {
    cursor: pointer;
    background-color:#0c2b33 ;
    transition: all 0.4s ease-out;
}

