

.body-header{
    text-align: center;
}

.body-header h1{
    font-style: italic;
    line-height: 30px;
}

 .body-header a{
    background-color:#f2f2f2;
    font-size:25px;
    padding: 8px;
    color: black;
    border-radius: 4px;  
    transition: all 0.5s;
    cursor: pointer;
} 
.body-header a:hover{
    background-color: #0c2b33;
    color:white;
}

.body-header a span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .body-header a span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .body-header a:hover span {
    padding-right: 25px;
  }
  
  .body-header a:hover span:after {
    opacity: 1;
    right: 0;
  }


.main-content{
    max-width: 50%;
    float:left;
    background-color: #2b6777;
    padding-top:10px;
    padding-bottom: 241px;
    margin-bottom: 0%; 
}
#main-paragraph{
    line-height: 25px;
    margin-left: auto;
    margin-right: auto;
    width:80%;
}
.gallery-item img{
      display: block; 
      padding-left: 0%;
  margin-left: auto;
  margin-right: auto; 
   width: 80%; 
   opacity:0.7;
}
.svg{
    margin:20px;
    width:350px;
    height:100px;
}
.svg-text{
    font-size: 22px;
}
.sub-content{
    float:left;
    width:50%;
    margin-bottom: 0px;
    background-color: #f2f2f2;
}
.sub-content img{
    width:100%;
}
.sub-content p{
    color:#0c2b33;
    padding-left: 20px;
}

.datalist{
    height: 240px;
    background-color: #f2f2f2;
    color:black;
    padding: 20px;
}
.datalist input[type = "submit"]{
    position: relative;
    height:30px;
    color: black;
    border-radius: 0 10px 10px 0;
    background: whitesmoke;
    border:2px solid #52ab98;
    outline:none;
}

.datalist input[type = "submit"]:hover{
    background-color: #52ab98;
    color: white;
}

#category{
    height: 30px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #78c0b0;
}

.audio{
    padding-top:20px;
}

#form-home{
    width: 1%;
    height:10%;
    float: right;
    padding: 5px;
    text-align: right;
    margin-right: 0px;
    margin-top: 50px;
    position: fixed;
    top: 50px;
    right: 0;
    background-color:#52ab98;
    border: 2px lightslategray;
    font-family: inherit;
    border-radius: 10px 0px 0px 10px;
    text-align: left;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    z-index: 1;
    transition: all 2s ease-in-out; 
    overflow: hidden;
}
#form-home:hover{
    width:15%;
    height:50%;
}
#form-home input[type="text"]{
    position: relative;
    height:30px;
    border-radius: 10px 10px;
    background: whitesmoke;
    border:none;
    outline:none;
}

#form-home input[type="email"]{
    position: relative;
    height:30px;
    border-radius: 10px 10px;
    background: whitesmoke;
    border:none;
    outline:none;
}


#form-home input[type="password"]{
    position: relative;
    height:30px;
    border-radius: 10px 10px;
    background: whitesmoke;
    border:none;
    outline:none;
}
 #form-home input[type="submit"]{
    position: relative;
    height:25px;
    border-radius: 5px 5px;
    float:left;
    background: whitesmoke;
    border:none;
    outline:none;
} 
#form-home input[type="submit"]:hover {
    cursor: pointer;
    background-color:#2b6777 ;
    color:white;
    transition: all 0.4s ease-out;
}
 #btnScrolltoTop{
    position:fixed;
    width:50px;
    height:50px;
    background:#78c0b0;
    bottom:40px;
    right:50px;
    text-decoration:none;
    text-align:center;
    line-height:50px;
    color:white;
    font-size:22px;
    z-index:1;
    cursor:pointer;
    outline:none;
    border:none;
} 
