.cameras-container {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.gallery-first-row{
  display: flex;
  justify-content: flex-start;
}

.gallery-second-row{
  display: flex;
  justify-content: flex-start;
}

.gallery-third-row{
  display: flex;
  justify-content: flex-start;
}

.cameras-container .content{
  width: 400px;
  height: 400px;
  border-radius: 8px;
  padding: 10px;
  background-color: white;
  margin: 20px;
  box-shadow: 0 0 16px #333;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cameras-container img {
  width: 350px;
  height: 350px;
  object-fit: contain;
}
.cameras-container .content:hover {
  box-shadow: 0 0 32px #333;
}