
body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
    min-height:100vh; 
    background:#b7c4cc;
} 
.box{
    position:relative;
    margin-top:5px;  
}
input{
    position:relative;
    display:inline-block;
    font-size:20px;
    box-sizing:border-box;
    transition: .5s; 
}
input[type="text"]{
    background: whitesmoke;
    width:340px;
    height: 35px;
    border:none;
    outline:none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}
.box input[type="submit"]{
    position:relative;
    border-radius: 0 25px 25px 0;
    left:-5px;
    height:35px;
    width:150px;
    border:none;
    outline:none;
    cursor:pointer;
    background:rgb(154, 182, 200);
}
input[type="submit"]:hover{
    background:rgb(105, 196, 230);

}
.container.input{
    border:0;
    outline:none;
    color:black;
}
header{
    width:100%;
    height:70px;
    background-color:rgb(75, 153, 184);
}
h1{
    position:absolute;
    padding:3px;
    float:left;
    margin-left:2%;
    margin-top:10px;
    color:black;
}
span{
    color:#14456d;
}

div.body-header {
        background-color:#e0e6ea;
        width: 47%;
        position:relative;
}
ul{
width:auto;
float:right;
margin-top:8px;
}
li{
    display:inline-block;
    padding:15px 30px;
}
li a{
    text-decoration: none;
    color: rgb(57, 69, 80);
    margin-bottom:0.5rem;  
}
li a:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
    transition: 0.3s ease-out;
}
li a:active{
    color: rgb(14, 5, 90);
}
a{
    text-align:left;
    color:rgb(17, 17, 14);
    text-decoration:none;
    font-family: 'Nunito Sans', sans-serif;
    font-size:1.2vw;  
} 
.footer-container{
    background-color: rgb(154, 182, 200);
    padding:0;
    position:sticky;
    top:100%;
}
.footer{
    margin:auto;
    width:80%;
    display: flex;
    flex-wrap: wrap;
}
.footer-heading a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    transition: 0.3s ease-out;
}

.footer-container a:active {
    color: rgb(14, 5, 90);
}
.footer-heading a {
    text-decoration: none;
    color: rgb(57, 69, 80);
    margin-bottom:0.5rem;  
}
.footer-heading {
    display: flex;
    flex-direction: column;
    width: 25%;
}
.footer-heading h4{
    margin-bottom:1rem;
}
#footer-email {
    width: 230px;
    height: 30px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size:1rem;
    margin-bottom: 0.2rem;
}
#footer-email-btn {
    width: 60px;
    height: 20px;
    border-radius: 4px;
    background-color:snow;
    outline: none;
    border: none;
    color:rgb(37, 39, 39);
    font-size: 0.8rem;
}
#footer-email-btn:hover {
    cursor: pointer;
    background-color: rgb(105, 196, 230);
    transition: all 0.4s ease-out;
}



