body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
    min-height:100vh; 
    background:#b7c4cc; 
   
    
}

body::-webkit-scrollbar {
    display: none;
}

#logo{
    max-height: 100%;
    
}

dl{
    max-width: 80%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.6;
    outline-style: dotted;
    outline-width: thin;
    
}
dt{
    font-size: 20px;
    line-height: 1.5em;
    font-style: italic;
}
dd{
    margin-bottom: 10px;
}
p{
    width:80%;
    text-align: justify;
    margin-bottom: 50px;
}

.container{
    margin-top: 70px;
     margin-bottom:200px; 
    /* padding-left:30px; */
    line-height: 1.5em;
    color: white;
    
    
}  
.box{
    position:relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

input{
    position:relative;
    display:inline-block;
    font-size:15px;
    box-sizing:border-box;
    transition: .5s; 
}
.box input[type="text"]{
    background: whitesmoke;
    max-width: 200px;
    border:none;
    outline:none;
    padding: 0 25px;
    height: 25px;
    border-radius: 25px 0 0 25px;
    margin-left:25px;
}
.box input[type="submit"]{
    position:relative;
    border-radius: 0 25px 25px 0;
    left:-5px;
    height: 25px;
    border:none;
    outline:none;
    cursor:pointer;
    background-color:#c8d8e4;
}
.box input[type="submit"]:hover{
    background:#0c2b33;
}

.container.input{
    border:0;
    outline:none;
    color:black;
}
header {
    width:100%;
    height:70px;
    background-color:#ffffff;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    margin-bottom: 100px;
    top: 0;
}

h1{ 
    padding:3px;
    margin-top:30px;
    
}
span{
    color:#43305c;
    font-size:smaller;
}
div.body-header  {
        width: 60%;
        position:relative;
        
}
.body-header h1{
    text-shadow: 2px 2px;
    line-height: 30px;
    
}
.body-header a{
    background-color:#f2f2f2;
    font-size:25px;
    padding: 8px;
    color: black;
}
.body-header [href]{
    border-radius: 4px;
}

.main-content{
    max-width: 50%;
    background-color: #2b6777;
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 0%; 
}
#main-paragraph{
    line-height: 25px;
    padding-left: 20px;
}
.sub-content{
    display: flex;
    float:right;


    
}

#form-home{
    width: 2%;
    height:4%;
    float: right;
    padding: 5px;
    text-align: right;
    margin-right: 0px;
    margin-top: 50px;
    position: fixed;
    bottom: 180px;
    right: 0;
    background-color:#52ab98;
    border: 2px lightslategray;
    font-family: inherit;
    border-radius: 10px;
    text-align: left;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    z-index: 1;
    transition: all 2s ease-in-out; 
}
#form-home:hover{
    width:15%;
    height:max-content;
}
#form-home input[type="text"]{
    position: relative;
    height:30px;
    border-radius: 10px 10px;
    background: whitesmoke;
    border:none;
    outline:none;
}

#form-home input[type="email"]{
    position: relative;
    height:30px;
    border-radius: 10px 10px;
    background: whitesmoke;
    border:none;
    outline:none;
}


#form-home input[type="password"]{
    position: relative;
    height:30px;
    border-radius: 10px 10px;
    background: whitesmoke;
    border:none;
    outline:none;
}
#form-home input[type="submit"]{
    position: relative;
    height:25px;
    border-radius: 5px 5px;
    float:left;
    background: whitesmoke;
    border:none;
    outline:none;
}
#form-home input[type="submit"]:hover {
    cursor: pointer;
    background-color:#b4a7d6 ;
    transition: all 0.4s ease-out;
}




header ul{
    width:auto;
    float:right;
    display: flex;
    margin-top:8px;
}

header li{
    display:inline-block;
    padding:15px 30px;
}

li a{
    text-decoration: none;
    color: black;
    margin-bottom:0.5rem;  
}
li a:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
    transition: 0.3s ease-out;
}
li a:active{
    color: rgb(14, 5, 90);
}
a{
    text-align:left;
    color:rgb(17, 17, 14);
    text-decoration:none;
    font-family: 'Nunito Sans', sans-serif;
    font-size:1.2vw;  
} 





