body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
    min-height:100vh; 
    background:#b7c4cc;     
}

body::-webkit-scrollbar {
    display: none;
}

#logo{
    max-height: 100%;
   
}


dl{
    max-width: 80%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.6;
    outline-style: dotted;
    outline-width: thin;
    margin-bottom: 20px;
    
}
dt{
    font-size: 20px;
    line-height: 1.5em;
    font-style: italic;
}
dd{
    margin-bottom: 10px;
}
p{
    width:80%;
    text-align: justify;
    margin-bottom: 50px;
}

.container{
    margin-top: 70px;
     margin-bottom:200px; 
    /* padding-left:30px; */
    line-height: 1.5em;
    color: white;
    
    
}  
.box{
    position:relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
form.box:hover{
    background-color: white;
}


input{
    position:relative;
    display:inline-block;
    font-size:15px;
    box-sizing:border-box;
    transition: .5s; 
}
.box input[type="text"]{
    background: whitesmoke;
    max-width: 200px;
    border:none;
    outline:none;
    padding: 0 25px;
    height: 25px;
    border-radius: 25px 0 0 25px;
    margin-left:25px;
}
.box input[type="submit"]{
    position:relative;
    border-radius: 0 25px 25px 0;
    left:-5px;
    height: 25px;
    border:none;
    outline:none;
    cursor:pointer;
    background-color:#c8d8e4;
}
.box input[type="submit"]:hover{
    background:#0c2b33;
}

.container.input{
    border:0;
    outline:none;
    color:black;
}
header {
    width:100%;
    height:70px;
    background-color:#ffffff;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    margin-bottom: 100px;
    top: 0;
    box-shadow: 10px 0px 20px grey;
    
}


h1{ 
    padding:3px;
    margin-top:30px;
    
}

        

header ul{
    width:auto;
    float:right;
    display: flex;
    margin-top:8px;
}

header li{
    display:inline-block;
    padding:15px 30px;
    transition: 2s;
}

header li:hover{
    background-color: #dfe9f0;
    border-radius: 30px;
}


li a{
    text-decoration: none;
    color: black;
    margin-bottom:0.5rem;  
}
li a:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
    transition: 0.3s ease-out;
}
li a:active{
    color: rgb(14, 5, 90);
}
a{
    text-align:left;
    color:rgb(17, 17, 14);
    text-decoration:none;
    font-family: 'Nunito Sans', sans-serif;
    font-size:1.2vw;  
} 





