
div.tips-div{
    width:30%;
    float:left;
    margin:10px;
    color:black;
}
.tips-div h3{
    text-align: center;
}
body{
    background-color: white;
}

#border-img { 
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border2.jpg) 30 round;
    color:black;
  }

.container{
    height:580px;
    padding-right: 20px;
    margin-bottom: 200px;
}
video{
    width:75%;
    margin-top: 100px;
        margin-left: 150px;
        margin-right: 40px;
}


#showdiv1{
    display:none;
}
#showdiv2{
    display:none;
}
#showdiv3{
    display:none;
}
