
div.tips-div{
    width:30%;
    float:left;
    margin:10px;
}

#border-img { 
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 30 round;
  }

.container{
    height:580px;
    padding-right: 20px;
}